<script>
  $(document).ready(function(){
    L.mapbox.accessToken = 'pk.eyJ1IjoiY29yd2luc3RlcGhlbiIsImEiOiJkUmYyVlYwIn0.W1x76fJSmLH8Lo34sVCSgw';

    var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([34.05, -118.24],11);

    var geojson = <%= CouncilDistrict.to_geojson.html_safe %>;
    window.featureLayer = L.mapbox.featureLayer(geojson).addTo(map);
  });
</script>

<div id="map"></div>

<div id="search">
  <form action="" method="get">
    <input type="text" name="address" placeholder="Enter an address" />
  </form>

  <% if @district.present? %>
    District: <%= @district.district_number %>
  <% elsif !params['address'].nil? %>
    Address not found within Los Angeles City
  <% end %>
</div>

